@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: 255, 241, 242;
  --primary-100: 255, 228, 230;
  --primary-200: 254, 205, 211;
  --primary-300: 253, 164, 175;
  --primary-400: 251, 113, 133;
  --primary-500: 244, 63, 94; /* Base shade */
  --primary-600: 225, 29, 72;
  --primary-700: 190, 18, 60;
  --primary-800: 159, 18, 57;
  --primary-900: 136, 19, 55;
  --primary-950: 216, 73, 0;


    --surface-0: 255, 255, 255; /* White */
    --surface-50: 248, 250, 252;
    --surface-100: 241, 245, 249;
    --surface-200: 226, 232, 240;
    --surface-300: 203, 213, 225;
    --surface-400: 148, 163, 184;
    --surface-500: 100, 116, 139;
    --surface-600: 71, 85, 105;
    --surface-700: 51, 65, 85;
    --surface-800: 30, 41, 59;
    --surface-900: 15, 23, 42;
    --surface-950: 216, 73, 0; /* Darker shade */
}

